@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.font-noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bold{
    font-weight: bold;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F5F8FF;
    /* padding: 16px; */
}
nav img{
  height: 30px;
}
.color-ita{
 color: #E95A08
}
.button{
  width: 100%;
  background-color: #E95A08;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(93, 7, 173);
  
}
.funtx > ul{
  list-style-type:disc;
  padding-left: 30px;
  padding-top: 20px;
}




.ana{
    background-image: url('assets/deal-ana.png');
}















.store{
  position: relative;
}
.badge{
  width: 200px;
  height: 200px;
  top: -680px;
  left: 400px;
}

.badge {
  animation-name: spin; /* Refers to the @keyframes rule named "spin" */
  animation-duration: 7s; /* The animation will last 2 seconds */
  animation-iteration-count: infinite; /* The animation will repeat infinitely */
  animation-timing-function: linear; /* The animation will have a constant speed */
}
@keyframes spin{
  from {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees rotation (one full spin) */
  }
}

@media screen and (max-width: 980px) {
.spin{
  display: none;
}
}


@media screen and (max-width: 768px) {
  
  .flower{
    display: flex;
    flex-direction: column-reverse;
  }
  .hero{
    margin-bottom: 30px;
    width: 100%;
  }
  .zablu > img{
    margin-top: 20px;
    margin-left: 0px;
  }
.bloom > img{
 border-radius: 0px;
 width: 100%;
}
.ana > img {
 width: 100%;
}


}